<h3 class="mt-5 mb-5"> Welcome to the Programmning Jokes Generator!</h3>
<div class="home-container p-5 align-items-center">
    <p> 
        Had a rough morning? Need to blow off some steam?
    </p>
    <p> 
        Catch a well-deserved break with this joke generator about programming (connected the JokeAPI).
    </p>
    <br/>
    <p>
        Go to <span class="text-primary">"Emergency joke"</span> to generate a <b>random joke</b> by clicking a button.
    </p>
    <p>
        You can also click on the <span class="text-primary">"Blues cure"</span> tab to get a <b>list of ten jokes</b> directly.
    </p>
    <br/>
    <p>
        Have fun!
    </p>
</div>